<?xml version="1.0"?>
<launch>
    <arg name="action_server_topic" default="/robotic_tools/pipette"/>
    <arg name="speed"        default="0.01"/>

    <node name="pipette_tool_action_client" pkg="ros_pipette_tool" type="move_to_2nd_stop" output="screen">
        <param name="action_server_topic" value="$(arg action_server_topic)"/>

        <param name="speed"  type="double" value="$(arg speed)"/>
    </node>
</launch>
